body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
  }
h1#header
{
 text-align: center;
 font-family: 'Pacifico', cursive;
 background-color: gold;
 padding: 1.5rem;
 margin-bottom:0%;
}

.nav{
  box-sizing: border-box;
  width:100%;
  background-color: darkgreen;
  overflow:hidden;
}

.nav a
{
  float:left;
  width:50%;
  color:white;
  font-weight: bold;
  text-decoration: none;
  text-align:center;
  padding:1% 0% 1% 0%;
}
div.nav a:hover{
  background-color: #ddd;
  color: black;
}
#link{
  padding-left: 1.5rem;
}
.row{
  display:flex;
}
.col{
  flex:1;
}
.left{
  box-sizing: border-box;
  background-color:black;
  color:white;
  float:left;
  width:50%;
  padding:2rem;
}
.left h1,.right h1{
  text-align:center;
  font-family: Algerian;
  font-size:2rem ;
  color: gold;
}
.social-icon1{
  color:black;
}
.right{
  box-sizing: border-box;
  margin-left:0%;
  background-color:gray;
  color:white;
  float:left;
  width:50%;
  padding:2rem;
  padding-bottom:3.15rem;
  
}

.left img,.right img{
  margin:0 auto;
  display:block;
  margin-top:2rem;
  margin-bottom:2rem;
  border-radius:50%;
  border: 3px solid red;
}
span.list{
  font-weight:bold;
  color:blue;
}
span.list1{
  font-weight:bold;
  color:black;
}
.video{
  display:block;
  clear:both;
  margin-top:-3%;
  background-color:red;
  padding-bottom: 3%;
}
.video h1{
  padding-top:5.5%;
  padding-bottom: 0%;
  color:yellow;
  text-align: center;
}
.video-container{
  position:relative;
  padding-top: 56.25%;
  width:100%;
}
.video iframe{
  margin-top: 1%;
  display:block;
  margin:auto;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:80%;
  height:80%;
  border:5px solid blue;
  max-width: 100%;

}

.footer{
  background-color: gold;
  height:1%;
  text-align: center;
  font-size:2rem;
  font-family: 'Pacifico', cursive;
  
  padding: 1.5rem;
  padding:1%;
}
 @media screen  and (max-width: 992px)
 {
.left{
  display:block;
  width:100%;
  clear:both;
}
.right{
  display:block;
  width:100%;
  clear:both;
} 
.video{
  margin-top:-2rem;;
}
}
 @media screen and (max-width: 868px)
 {

 }
