body{
  margin:1%;
}

.about-me {
  text-align: center;
}

.display-4{
  text-align: center;
}

.table{
  text-align:center;
}
 .gold
 {
   background-color:gold;
 }
.cards{
  background-color: black;
  color: white;
}
.support-header{
  text-align:center;
}
.support{
  font-weight: bold;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 
.card-img-top{
  border:5px solid black ;
}
.carousel-item{
    height: 100%;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}
